        <!--===== CONTACT =====-->
        <section class="contact section" id="contact">
            <h2 class="section-title">Contact</h2>

            <div class="contact__container bd-grid">
                <form action="" class="contact__form">
                    <input type="text" placeholder="Name" class="contact__input">
                    <input type="mail" placeholder="Email" class="contact__input">
                    <textarea name="" id="" cols="0" rows="10" class="contact__input"></textarea>
                    <input type="button" value="Send" class="contact__button button">
                </form>
            </div>
        </section>
          <!--===== FOOTER =====-->
          <footer class="footer">
            <!--         <p class="footer__title">Coding Master</p> -->
                    <div class="footer__social">
                        <a href="#" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
                        <a href="#" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
                        <a href="#" class="footer__icon"><i class='bx bxl-twitter' ></i></a>
                    </div>
                    <p>&#169; 2021 copyright all right reserved</p>
                </footer>