
         <!-- HEADER -->
         <header class="l-header">
            <nav class="nav bd-grid">
                 <div>
                 
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a [routerLink]="['/home']" routerLinkActive="router-link-active" class="nav__link active">Home</a></li>
                        <li class="nav__item"><a [routerLink]="['/about']" routerLinkActive="router-link-active" class="nav__link">About</a></li>
                        <li class="nav__item"><a [routerLink]="['/skills']" routerLinkActive="router-link-active" class="nav__link">Skills</a></li>
                        <li class="nav__item"><a [routerLink]="['/projects']" routerLinkActive="router-link-active" class="nav__link">Projects</a></li>
                        <li class="nav__item"><a [routerLink]="['/contact']" routerLinkActive="router-link-active" class="nav__link">Contact</a></li>

                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>
