    <!--===== HOME =====-->
    <section class="home bd-grid" id="home">
        <div class="home__data">
            <h1 class="home__title">Hi,<br>I'am <span class="home__title-color">{{bios.firstName}} {{bios.lastName}}</span><br>Software Engineer</h1>
            <div class="home__social">
                <a href={{bios.linkedIn}} class="home__social-icon"><i class='bx bxl-linkedin'></i></a>
                <a href={{bios.github}} class="home__social-icon"><i class='bx bxl-github' ></i></a>
                <a href={{bios.socialMedia}} class="home__social-icon"><i class='bx bxl-facebook' ></i></a>
            </div>
            <a href="#contact" class="button">Contact</a>
        </div>

    

        <div class="home__img">    
            <img src="../../../assets/images/JOHN1.png" alt="">
        </div>
    </section>