       <!--===== WORK =====-->
       <section  class="work section" id="work">
        <h2 class="section-title">Projects</h2>

        <div class="work__container bd-grid">
            <div class="work__img" *ngFor="let item of pro.projects">
                <img src="../../../assets/images/1.png" alt="">
             <p>{{item.desc}}.</p>
                 <a href="#" class="button" style="margin-left: 3px; margin-right:3px">GitHub</a>    <a href="#" class="button">Live Demo</a>
            </div>

            <!-- <div class="work__img">
                <img src="../../../assets/images/2.png" alt="">
                      <p>An investment platform that gives return on investment(RO1) to investors.</p>
                     <a href="#" class="button" style="margin-left: 3px; margin-right:3px">GitHub</a>    <a href="#" class="button">Live Demo</a>
            </div> -->
            <!-- <div class="work__img">
                <img src="../../../assets/images/3.png" alt="">
                      <p>A platform transforming young mind through reading and constant study.</p>
                 <a href="#" class="button" style="margin-left: 3px; margin-right:3px">GitHub</a>    <a href="#" class="button">Live Demo</a>
            </div> -->
            <!-- <div class="work__img">
                <img src="../../../assets/images/4.png" alt="">
                      <p>Investment and Multi-Level Marketing Solution.You are paid Profits as ROI monthly.</p>
                     <a href="#" class="button" style="margin-left: 3px; margin-right:3px">GitHub</a>    <a href="#" class="button">Live Demo</a>
            </div> -->
            <!-- <div class="work__img">
                <img src="../../../assets/images/5.png" alt="">
                      <p>Human rights Advancement,Advocacy and development Centre.</p>
                     <a href="#" class="button" style="margin-left: 3px; margin-right:3px">GitHub</a>    <a href="#" class="button">Live Demo</a>
            </div> -->
            <!-- <div class="work__img">
                <img src="../../../assets/images/6.png" alt="">
                <p>Horeb is a Nursery and primary school located in Akure South west Nigeria</p>
                    <a href="#" class="button" style="margin-left: 3px; margin-right:3px">GitHub</a>    <a href="#" class="button">Live Demo</a>
            </div> -->
        </div>
    </section>
